<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="KSDExperiments"/>
  </extensions>

  <targets>
    <target name="file" xsi:type="File" fileName="KSDExperiments.log" archiveAboveSize="5000000" maxArchiveFiles="10" archiveOldFileOnStartup="true" layout="${date} ${level:uppercase=true:format=FirstCharacter} ${logger:shortName=True:padding=-30} ${indenter}${message} ${exception:format=tostring}" />
    <target name="fileerr" xsi:type="File" fileName="KSDExperiments.err" archiveAboveSize="5000000" maxArchiveFiles="10" layout="${date} ${level:uppercase=true:format=FirstCharacter} ${logger:shortName=True:padding=-30} ${indenter}${message} ${exception:format=tostring}" />
    <target name="con" xsi:type="Console" layout="${date} ${level:uppercase=true:format=FirstCharacter} ${logger:shortName=True:padding=-30} ${indenter}${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="con" />
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Warn" writeTo="fileerr" />
  </rules>
</nlog>